<div class="container">
<h1>Welcome to my app</h1>
<a href="/users">Click here to see all users.</a>
<br>
<a href="/users/new_html">Click here to create a new user with HTML.</a>
<br>
<a href="/users/new">Click here to create a new user with form_tag.</a>
<br>
<a href="/users/new_for">Click here to create a new user with form_for.</a>

</div>
