<div class="alert alert-danger" role="alert">
  <strong>Oh snap!</strong> 
  User wasn't created, please try again.
</div>
<br>
<%= link_to("Back to home", content=root_path, options = {class: 'btn btn-sm btn-primary'}) %>