<div class="container">
<% if @user %>
<h2><%= @user.username %>'s profile</h2>
<h2>Bio</h2>
<%= @user.bio %>
<% else %>
<h2>User not found</h2>
<% end %>
<br>
<%= link_to("Back to home", content=root_path, options = {class: 'btn btn-sm btn-primary'}) %>
</div>